#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  background-color:#ffffff;
  padding: 2em;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
.card:hover{
  filter: drop-shadow(0 0 4px #d10303);
  border: 1px solid #d10303;
}

.picture{
  height: 10em;
  background-color: #fff8ba;
  border-radius: 50%;
}

.pokemonName{
  font-size: 20pt;
  /*font-style: italic;*/
  font-weight: bold;
  line-height: 1;
}

.filterButton {
  border-radius: 8px;
  border: none;
  padding: 2px 12px;
  margin: 0px 8px 32px;
  font-size: 16pt;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #fff8ba;*/
  color: #3b3500;
  cursor: pointer;
  transition: border-color 0.25s;
}
.filterButton:hover{
  filter: drop-shadow(0 0 4px #d10303);
}